.main {
    background: #0DF2BF;
    margin: 0;
}

.rank {
    width: fit-content;
    margin: 60px 0 0 21px;
    padding: 9px;
    border-radius: 10px;
    background: #FAFCF6;
    display: flex;
    gap: 91px;
    align-items: center;

}

.rank__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__avatar {
    width: 100px;
    height: 100px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.hero__name {
    font: 400 20px Roboto, sans-serif;
    color: #1E1C1C;
}

.hero__score {
    font: 400 48px Roboto, sans-serif;
    color: #F20D40;
}

.btn-exit {
    position: absolute;
    border-style: none;
    top: 25px;
    right: 68px;
    background: #BD63D4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background: #FFE973;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.pop-up__pop-up-box {
    position: relative;
    max-width: 590px;
    padding: 45px;
    z-index: 1;
    background-color: #FAFCF6;
    box-shadow: 0 0 17px -7px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    transform: scale(0);
    transition: transform .8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pop-up.open {
    visibility: visible;
    opacity: 1;
}

.pop-up.open .pop-up__pop-up-box {
    transform: scale(1);
}

.pop-up-box__question {
    font: 700 48px Roboto, sans-serif;
    color: #BD63D4;
}

.pop-up-box__user-score{
    font: 400 36px Roboto, sans-serif;
    color: #555452;
}

.pop-up-box__start-btn{
    margin: 0;
    width: 270px;
    height: 76px;
    border-radius: 10px;
    background: #BD63D4;
    font: 400 50px Roboto, sans-serif;
    color: #FAFCF6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.video-dance {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

.user__head{
    position: relative;
    margin: 0 auto;
    height: 90px;
    width: 90px;
}

.head__body{
    position: absolute;
}

.body{
    width: 90px;
    height: 90px;
}

.head__face{
    position: absolute;
    margin: 8px 5px;
}

.face{
    width: 80px;
    height: 80px;
}

.head__hat{
    position: absolute;
    margin: -65px 3px;
}

.hat{
    width: 86px;
    height: 90px;
}

.dance-movements {
    position:absolute;
    bottom:0;
    width:100%;
    height: 200px;
    background: rgba(250, 252, 246, 0.80);
}

.hidden {
    display: none;
}

.hero__rating-good{
    width: 270px;
    position: absolute;
    margin-top: 140px;
}

.hero__rating-ok{
    width: 270px;
    position: absolute;
    margin-top: 150px;
}

.hero__rating-x{
    width: 65px;
    position: absolute;
    margin-top: 150px;
}

.hero__rating-perfect{
    width: 323px;
    position: absolute;
    margin-top: 145px;
}

.hero__rating_visible{
    animation-duration: 1s;
    animation-name: score;
}

@keyframes score {
    0% { opacity: 0; width: 0;}
    10%{opacity: 1; width: 250px;}
    50% { width: 323px;}
    90% { opacity: 1; width: 250px;}
    100% { opacity: 0; width: 0;}
}

@keyframes score-x {
    0% { opacity: 0; width: 0;}
    10%{opacity: 1; width: 50px;}
    50% { width: 65px;}
    90% { opacity: 1; width: 50px;}
    100% { opacity: 0; width: 0;}
}

.hero__rating_bad{
    animation-duration: 1s;
    animation-name: score-x;
}