* {
    box-sizing: border-box;
}

.page {
    margin: 0;
    background: #FFE973;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.logo {
    display: flex;
}

.logo__item {
    font: 400 42px Cherry Bomb One, cursive;
    color: #BD63D4;

    animation: wavy 1s infinite;
    animation-delay: calc(.1s * var(--i));;
}

.achievements {
    height: 100vh;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievements__achieve-type {
    display: flex;
    gap: 40px;
    padding: 10px;
}

.achieve-type__type {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #BD63D4;
    font: 400 20px Roboto, sans-serif;
    color: #1E1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-width: 5px;
    border-color: #8c06ab;
}

.type-selected {
    background-color: #8c06ab;
    border-style: solid;
    border-width: 5px;
    border-color: #670080;
    color: #FAFCF6;
}

.achievements__achieve-items {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
}

.achieve-items__positions {
    width: 350px;
    min-height: 50px;
    background-color: #AEF26D;
    border-radius: 10px;
    border-style: dashed;
    border-width: 5px;
    border-color: #BD63D4;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.positions__position-name {
    flex-grow: 1;
    font: 400 20px Roboto, sans-serif;
    color: #1E1C1C;
    word-break: break-all;
    margin-right: 10px;
}

.positions__part-complete {
    font: 700 20px Roboto, sans-serif;
    color: #670080;
}

.achievements__positions__collected {
    background-color: #00eaff;
    border-style: solid;
    border-width: 5px;
    border-color: #670080;
}

.achievements__positions__completed {
    background-color: #BD63D4;
    border-style: solid;
    border-width: 5px;
    border-color: #670080;
}

@keyframes wavy {
    0%, 40%, 100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}