<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Let's dance</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.4/jquery.xdomainrequest.min.js"></script>
	<script src="../static/script/mainRoom.js" defer></script>
	<link rel="preconnect" href="https://fonts.googleapis.com"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Roboto&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="/static/css/mainRoom.css" type="text/css" rel="stylesheet"/>
	<script>
		let WssURL = "{{ .WssURL }}"
		window.addEventListener('load', function() {
			{{ range .ConnectedUsers }}
				addUser("{{ .UserID }}", "{{ .UserName }}", "../{{ .HatSrc }}", "../{{ .FaceSrc }}", "../{{ .BodySrc }}");
			{{ end }}
			document.getElementById("needUser").innerText = "Join and start playing";
		});
	</script>
</head>
<body class="page" id="content">
<header class="header">
		<div class="header__guide">
			<div>
				<a class="guide__title">Code room</a>
				<div class="guide__subtitle">
					<a class="guide__code" id="CodeRoom">{{ .RoomKey }}</a>
					<img src="../static/img/question-answer-svgrepo-com.svg" class="header__icon" id="openGuide" alt="">
				</div>
			</div>
			<div class="qrcode" id="qrcode"></div>
		</div>
</header>
<div class="content">
	<img class="btn-back hide" id="returnButton" src="../static/img/Group%206.svg" alt="">
	<div class="game-mode" id="gameMode">
		<div class="game-mode__button">
			<a href="#" class="button__text" mode="Classic" onclick="openStyles(this)">Classic</a>
		</div>
		<div class="game-mode__button">
			<a href="#" class="button__text" mode="Bots" onclick="openStyles(this)">Bots</a>
		</div>
		<div class="game-mode__button">
			<a href="#" class="button__text" mode="Boss" onclick="openStyles(this)">Boss</a>
		</div>
	</div>
	<div class="dance-style none" id="listGenre">
		{{ range .Styles }}
			<div class="game-mode__button" id="{{ .StyleID }}" onclick="openSong(this)">
				<a href="#" class="button__text">{{ .StyleName }}</a>
			</div>
		{{ end }}
	</div>
	<div id="listSong" class="songs none">
		{{ range .Songs }}
			<div class="song__section none style-id={{ .StyleID }}" id={{ .StyleID }} onclick="addColor(this)">
				<img src="../{{ .ImageSrc }}" class="section__img" id="{{ .SongID}}" onclick="showVideo(this)"  alt="">
				<div class="song__difficulty difficulty" difficulty="{{.Difficulty}}">
					<div class="piece"></div>
					<div class="piece"></div>
					<div class="piece"></div>
					<div class="piece"></div>
				</div>
				<div class="section__name">
					<a class="none" id="song{{ .SongID }}">../{{ .PreviewVideoSrc }}</a>
					<a class="none" id="fullsong{{ .SongID }}">../{{ .VideoSrc }}</a>
					<a class="none" id="difficultysong{{ .SongID }}">{{.Difficulty}}</a>
					<div class="name__title song{{ .SongID}}">{{ .SongName }}</div>
					<div class="name__subtitle">{{ .SongAuthor }}</div>
				</div>
			</div>
		{{ end }}
	</div>
	<div>
	{{ range .Bosses }}
		<div class="none" id="boss" onclick="bossGame(this)">
			<div  class="boss__head user__head">
				<div class="boss__body head__body"><img src="../{{ .BossImgBody }}" class="boss__body-img" alt=""></div>
				<div class="boss__face head__face"><img src="../{{ .BossImgFace }}" class="boss__face-img" alt=""></div>
				<div class="boss__hat head__hat"><img  src="../{{ .BossImgHat }}" class="boss__hat-img" alt=""></div>
			</div>
			<div class="boss__health-point" style="display:none">{{ .BossHealthPoint}}</div>
			<div class="boss__name">{{ .BossName }}</div>
		</div>
	{{ end }}
	</div>
	<div class="game-menu">
		<div class="game-menu__party">
			<div id="needUser" class="party__message"></div>
			<div class="party__user  none" id="user1">
				<div  class="user__head">
					<div class="head__body"><img src="" class="body" alt=""></div>
					<div class="head__face"><img src="" class="face" alt=""></div>
					<div class="head__hat"><img  src="" class="hat" alt=""></div>
				</div>
				<div class="user__name" id="userName1">Kirill</div>
			</div>
			<div class="party__user  none" id="user2">
				<div  class="user__head">
					<div class="head__body"><img src="" class="body" alt=""></div>
					<div class="head__face"><img src="" class="face" alt=""></div>
					<div class="head__hat"><img  src="" class="hat" alt=""></div>
				</div>
				<div class="user__name" id="userName2"></div>
			</div>
			<div class="party__user  none" id="user3">
				<div  class="user__head">
					<div class="head__body"><img src="" class="body" alt=""></div>
					<div class="head__face"><img src="" class="face" alt=""></div>
					<div class="head__hat"><img  src="" class="hat" alt=""></div>
				</div>
				<div class="user__name" id="userName3"></div>
			</div>
			<div class="party__user none" id="user4">
				<div  class="user__head">
					<div class="head__body"><img src="" class="body" alt=""></div>
					<div class="head__face"><img src="" class="face" alt=""></div>
					<div class="head__hat"><img  src="" class="hat" alt=""></div>
				</div>
				<div class="user__name" id="userName4"></div>
			</div>
		</div>
		<div class="party__bots none" id="bots">
			<div class="bots bots_close" id="botMenu">
				{{ range .Bots }}
				<div class="bot" onclick="addBot('{{ .BotName }}')">
					<div class="bot__name">{{ .BotName }}</div>
					<div class="bot__difficulty difficulty" difficulty="{{.Difficulty}}">
						<div class="piece"></div>
						<div class="piece"></div>
						<div class="piece"></div>
						<div class="piece"></div>
					</div>
				</div>
				{{ end }}
		  </div>
			<div class="bots__button" onclick="toggleBots()">Bots</div>
		</div>
		<video poster="/static/img/618363928f4aef76ef260de7_1080_stackImages_1636000944.png" id="videoPlayer" autoplay
			   loop class="game-menu__preview">
			<source controls="false" type="video/mp4">
		</video>
		<div class="game-menu__difficulty none">
			<div class="segment"></div>
			<div class="segment"></div>
			<div class="segment"></div>
			<div class="segment"></div>
		</div>
		<div class="game-menu__play-button"><a class="play-button" id="play">Play</a></div>
	</div>
	<div class="page__info" id="guide" onclick="closeGuide()">
		<h1 class="info__title">User Guide</h1>
		<div class="information">
			<p>Choose a song to start dancing to.</p>
			<p>On the page open on your mobile phone, log in or register.</p>
			<p>Enter the room code on the open page.</p>
			<p>Mirror the dance characters' movements. Your progress and score will be displayed on the computer screen.</p>
			<p>After the song ends, you will see your results and be able to view your rating and achievements. Enjoy dancing
				and good luck! </p>
		</div>
	</div>
</div>
</body>
</html>