<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Let's dance</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="../static/css/userAccount.css " type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="customization">
	<div class="customization__character">
		<div class="character__avatar">
			<div class="character__level"><a class="level" >99</a></div>
			<div  class="avatar">
				<div  class="avatar__head">
					<div class="head__circle"></div>
					<div class="head__face"></div>
					<div class="head__hat"></div>
				</div>
				<div class="avatar__name"><a>Kirill</a></div>
			</div>
		</div>
	</div>
	<div class="customization__option">
		<div class="option__type">
			<div class="type" id="hat"><a class="type__text">hat</a></div>
			<div class="type" id="face"><a class="type__text">face</a></div>
			<div class="type" id="circle"><a class="type__text">body</a></div>
		</div>
		<div class="option__element">
			{{ range .Hats }}
			<div class="element">{{ .hatSrc }}{{ .recommendedLevel }}</div>
			{{ end }}
			{{ range .Bodies }}
			<div class="element">{{ .bodySrc }}</div>
			{{ end }}
			{{ range .Faces }}
			<div class="element">{{ .faceSrc }}</div>
			{{ end }}
		</div>
	</div>
</div>
</body>
</html>