<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Let's dance</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="../static/css/userAccount.css " type="text/css" rel="stylesheet"/>
	<script src="../static/script/userAccount.js" defer></script>
	<script>
		let userScore = "{{ .UserScore }}";
		console.log("У этого пользователя", userScore, "очков");
	</script>
</head>
<body>
<div class="customization">
	<div class="customization__character">
		<div class="character__avatar">
			<div class="character__level"><a class="level" id="level"></a></div>
			<div  class="avatar">
				<div  class="avatar__head">
					<div class="head__body"><img class="user-body" alt=""></div>
					<div class="head__face"><img class="user-face" alt=""></div>
					<div class="head__hat"><img class="user-hat" alt=""></div>
				</div>
				<div class="avatar__name"><a></a></div>
			</div>
			<img class="avatar-save" id="saveButton" src="../static/img/check-circle.svg" alt=""/>
		</div>
	</div>
	<div class="customization__option">
		<div class="option__type">
			<div class="type type-selected" id="hat" onclick="openElement(this)"><a class="type__text">hat</a></div>
			<div class="type" id="face" onclick="openElement(this)"><a class="type__text">face</a></div>
			<div class="type" id="body" onclick="openElement(this)"><a class="type__text">body</a></div>
		</div>
		<div class="option__element">
			{{ range .Hats }}
			<div class="element hat" lvl="{{ .HatLevel }}" onclick="changeHat(this)">
				<img class="element__hat" src="{{ .HatSrc }}" alt=""/>
			</div>
			{{ end }}
			{{ range .Faces }}
			<div class="element face none" lvl="{{ .FaceLevel }}" onclick="changeFace(this)">
				<img class="element__face" src="{{ .FaceSrc }}" alt=""/>
			</div>
			{{ end }}
			{{ range .Bodies }}
			<div class="element body none" lvl="{{ .BodyLevel }}"  onclick="changeBody(this)">
			  <img  class="element__body" src="{{ .BodySrc }}"  alt=""/>
		  </div>
			{{ end }}
		</div>
		<input class="element__body">
	</div>
</div>
</body>
</html>